@media screen and (orientation: landscape) {
  html, body {
      height: 100%;
      width: 65%;
  }
}

@media screen and (orientation: portrait) {
  html, body {
    height: 100%;
    width: 90%;
  }
}

html {
    padding-top: 20px;
    display: table;
    margin: auto;
}

body {
      background-color: RGB(120, 216, 138, .2);
      display: table-cell;
      vertical-align: middle;
      color: #1E2D3C;

}

header {
      background-color: #ffffff;
      padding: 2em 3em;
}

h1 {
    font-size: 2em;
    line-height: 1em;
    font-family: 'Merriweather', serif;
}

h2 {
    color: RGB(45,133,140);
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
}

h3 {
    color: #1E2D3C .8;
    font-size: 1.3em;
    line-height: 1em;
    font-family: 'Open Sans', sans-serif;
}

a {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  color: #388A8A;
  transition: all .2s;
}

a:hover {
  color: RGB(45,133,140);
}

p, ol {
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
    line-height: 1.5em;
}

ul {
    list-style: none;
    padding-left: 0;
    line-height: 3em;
}

.intro {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    line-height: 1.5em;
}

.bigp {
    font-family: 'Merriweather', serif;
    line-height: 1.5em;
}

.button {
    border: none;
    background-color: rgb(53, 168, 151);
    color: RGB(255,255,255);
    padding:.5em .75em;
    border-radius: 3px;
    text-decoration: none;
    vertical-align: center;
    display: inline-block;
    font-size: 1.25em;
    cursor: pointer;
}

.button:hover {
    background-color: RGB(45,133,140);
    color: RGB(255,255,255);
}

#name {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 2em;
    color: RGB(45,133,140);
}

/* Colors?
#FFDEDE Light blush pink
#CC0000 Red
#D4D8C6 Light green
#90B878 Moderate pistachio
#388A8A Sea foam
#1E2D3C Navy blue
*/
