@media screen and (orientation: landscape) {
  html, body {
      height: 100%;
      width: 65%;
  }
}

@media screen and (orientation: portrait) {
  html, body {
    height: 100%;
    width: 90%;
  }
}

html {
    padding-top: 20px;
    display: table;
    margin: auto;
}

body {
      display: table-cell;
      vertical-align: middle;
      background-color: #FFDEDE;
      color: #1E2D3C;

}

header {
      color: #1E2D3C;
}

p, ol {
    font-family: Arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.8em;
}

ul {
    list-style: none;
    padding-left: 0;
    line-height: 3em;
}


h1 {
    font-size: 2em;
    line-height: 1em;
    font-family: sans-serif;
    font-weight: 600;
}
a {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #388A8A;
  padding: 2px 5px;
  border-radius: 3px;
  text-decoration: none;
  transition: all .2s;
}

a:hover {
  background-color: #CC0000;
}

h2 {
    color: #CC0000;
    font-size: 1.5em;
    font-family: 'Lora', serif;
    font-weight: 700;
}

h3 {
    color: #CC0000;
    font-size: 1.3em;
    line-height: 1em;
    font-family: 'Lora', serif;
    font-weight: 700;
}

h4 {
    font-size: 1em;
    font-family: sans-serif;
    font-family: 'Lora', serif;
    font-weight: 700;
}

.bigp {
    font-size: 1.3em;
    line-height: 1.8em;
    font-family: Arial, sans-serif;
}

.intro {
    font-family: 'Lora', serif;
    font-size: 5em;
    line-height: 1.15em;
}

#name {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 2.5em;
    color: #CC0000; 
}
    
/* Colors?
#FFDEDE Light blush pink
#CC0000 Red
#D4D8C6 Light green
#90B878 Moderate pistachio
#388A8A Sea foam
#1E2D3C Navy blue
*/
