@media screen and (orientation: landscape) {
  html, body {
      height: 100%;
      width: 70%;
  }
}

@media screen and (orientation: portrait) {
  html, body {
    height: 100%;
    width: 90%;
  }
}

html {
    padding-top: 20px;
    display: table;
    margin: auto;
}

body {
      display: table-cell;
      vertical-align: middle;
      background-color: #FFDEDE;
      color: #1E2D3C;

}

header {
      text-align: center;
      padding-top: 3px;
      padding-bottom: 20px;
      color: #1E2D3C;
}

p, ol {
    font-family: Arial, sans-serif;
    font-size: 1em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
}


h1 {
    font-size: 2em;
    line-height: 1em;
    font-family: sans-serif;
    font-weight: 600;
}
a {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  line-height: 2em;
  color: #FFFFFF;
  background-color: #388A8A;
  padding: 5px;
  border-radius: 3px;
  text-decoration: none;
}

a:hover {
  background-color: #CC0000;
}

h2 {
    color: #CC0000;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

h3 {
    font-size: 1em;
    font-family: sans-serif;
    font-weight: 400;
}

.project {
    text-align: center;
    margin-bottom: 2em;
}

.intro {
    text-align: center;
}
/* Color scheme:
#FFDEDE Light blush pink
#D4D8C6 Light green
#90B878 Moderate pistachio
#388A8A Sea foam
#1E2D3C Navy blue
*/
